%li
  %span.content= task.content
  %span.timestamp
    Posted #{time_ago_in_words(task.created_at)} ago.
  - if current_user?(task.user)
    = link_to "delete", task, method: :delete, |
      data: { confirm: "You sure?" },               |
      title: task.content                      |
